.container {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  list-style: none;
  margin: 0; 
  background: rgb(195, 164, 199);
  opacity: .5;
}
  .wrapper {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}
  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}
  .form-row > label {
   padding: .5em 1em .5em 0;
}
  .form-row > input {
    flex: 1;
}
  .form-row > input,
  .form-row > button {
    padding: .5em;
}
  .form-row > button {
 background: gray;
 color: white;
 border: 0;
}
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}
.container2 {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  border: 2px solid #ffffff;

  list-style: none;
  margin: 0; 
  background:rgb(202, 207, 201);
}
  .datacontainer {
    text-decoration: none;
    display: text;
      padding: 1em;
      color: white;
}
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0; 
  background: deepskyblue;
}
  .navigation a {
   text-decoration: none;
   display: block;
    padding: 1em;
    color: white;
}

